
# Ignore vscode files
**/.vscode

# Ignore lyx backup files
**/*.lyx~

# Ignore LaTeX sync files
**/*synctex.gz

# Ignore python gmon files
**/*gmon.out

# Ignore jupyter notebook checkpoints
**/*checkpoint.ipynb

# Ignore DS_Store
**/.DS_Store
.DS_Store

# Ignore python cache files
**/*.pyc
*.pyc
